@media screen and (max-width: 751px) {
    
    .left-right {
        flex-direction: column;
    }

    .right {
        width: 100%;
        padding-left: 0;
    }

    /* NAV */
    .nav {
        width: 100%;
    }

    .hero h1 {
        font-size: 25px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .services {
       display: flex;
       flex-direction: column;

    }

}